html{
    font-size: 10px;
    color: #4e4d4d;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

   

}

body{
    background-image: url('logo.png'); 
    background-color: rgba(0, 0, 0, 1.3);
    background-size: 950px;
    background-repeat: no-repeat; 
    background-position: center;
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
main{
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(30deg, #525c5c, #101816);
    padding: 3rem 1.6rem 6rem 1.6rem;
    border-radius: 4rem ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
    color: #eee;
}

section{
    background: white;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    padding: 0 1.6rem;
    border-radius: 1rem;
    box-shadow: inset 2px 2px lightgray;

}

section > div {

    padding: 1.6rem 0;

}

.bill{
    display: flex;

}
.bill label {
    flex: 1;
    align-self: center; 
}

.bill input{
    flex: 3;
}

input[type="number"]{
    font-family: inherit;
    background: #f4f4f5;
    font-size: 1.6rem;
    border : 1px solid lightgray;
    border-radius: 0.5rem;
    padding: 0.8rem 0 0.8rem 0.8rem ;
    box-shadow: inset 0 0.2px 0.2px lightgray;

}

.space-beetwen{
    display: flex;
    justify-content: space-between;

}

.total {
    font-size: 2rem;
    font-weight: bolder;
}


.range{
    
    width: 100%;
    height: 8px;
    background: #eee;
    margin-top: 1.2rem;
    border-radius: 0.3rem;
    outline-color: #111d19;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.range::-moz-slider-thumb{
   
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.range::-moz-focus-outer{
    border: 0;
}

span{
    margin-right: 2px;
}

.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 8px 0;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }