@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

/*Color  */
.blue{
    --clr : #4285f4;
}

.red {
    --clr : #DB4437;
}

.yellow{
    --clr: #F4B400;
}

.green {
    --clr :#0F9D58;
}

body{
    background-color: #636e72;
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    margin: 30px;
    text-shadow: 2px 2px 10px #000;

}

.box{
    background-color: var(--clr);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
    overflow-x: hidden;

}



.box :nth-of-type(even){
    transform: translate(-400%);
}

.box.show{
    transform: translateX(0);
}
